#containerStartGame {
  height: 65vh;
}

.btnStartGame {
  font-family: "GAMERIA";
  font-size: 25px;
  padding: 9px 12px;
  letter-spacing: 1px;
  border-radius: 8px;
  color: rgb(255, 200, 20);
  background-color: rgb(110, 55, 75);
  text-transform: lowercase;
}

.btnStartGame:hover {
  color: rgb(110, 55, 75);
  background: transparent;
  border: none;
}

.btnStartGame p {
  border-color: rgb(255, 200, 20) !important;
}

.btnStartGame p:hover {
  border: 4px solid rgb(116, 64, 83) !important;
}

.sectionStartGame small {
  font-size: 25px;
  /* font-family: "GAMERIA"; */
  color: rgb(110, 55, 75);
}
