#containerCardGrid {
  padding: 0 12%;
}

.divCardGrid {
  margin: 0 auto;
  display: grid;
  gap: 0.5em;
}

#divCardGrid3x4 {
  width: 85%;
}

.grid3x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#divCardGrid4x4 {
  width: 70%;
}

.grid4x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#divCardGrid4x5 {
  width: 85%;
}

.grid4x5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#divCardGrid4x6 {
  width: 95%;
}

.grid4x6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#divCardGrid5x6 {
  width: 75%;
}

.grid5x6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#divCardGrid6x6 {
  width: 70%;
}

.grid6x6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#divCardGrid6x7 {
  width: 75%;
}

.grid6x7 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#divCardGrid6x8 {
  width: 85%;
}

.grid6x8 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.card {
  width: auto;
  border-radius: 5px;
  border: 7px solid rgb(220, 220, 220);
  background-color: rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  animation: 2s hideCard linear;
}

@keyframes hideCard {
  0%,
  70% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.card img {
  max-width: 100%;
  max-height: 100%;
  transform: scale(0);
  transition: transform 0.5s;
  animation: 2s hideImage linear;
}

@keyframes hideImage {
  0%,
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.card.active img {
  transform: scale(1);
}

.card.active {
  transform: rotateY(0);
}

.card.shown {
  border: 7px solid white;
}

.card.correct {
  border: 7px solid rgb(255, 200, 20);
  /* Prevent the cards from being flipped again, once tagged as "correct" */
  pointer-events: none;
}

.card.wrong {
  border: 7px solid rgb(255, 25, 85);
}

.divTrackers {
  padding: 9px;
  border-radius: 8px;
  color: rgb(110, 55, 75) !important; /* Controls the icon colors */
}

.divTrackers p {
  font-size: 20px;
  letter-spacing: 1px;
  border-color: rgb(110, 55, 75) !important; /* Controls the border colors */
}

.trackers {
  font-size: 27px;
  font-family: "GAMERIA";
  color: rgb(110, 55, 75); /* Controls the value colors */
  position: relative;
  top: 2px;
}

.last10seconds {
  color: white !important;
  background-color: red !important;
}

#last10seconds {
  border-color: white !important;
}

.gameOver {
  /* Prevent the cards from being flipped when the timer runs out */
  pointer-events: none;
}

.swal2-popup {
  background: url("../flippy-background-mono.jpg");
  background-position: center;
  background-size: cover;
}

#swal2-title {
  text-transform: lowercase;
  font-family: "GAMERIA";
  font-size: 40px;
  letter-spacing: 2px;
  /* color: rgb(55, 160, 60) !important; */
  color: rgb(225, 155, 10) !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(222, 222, 222);
  vertical-align: middle;
}

#swal2-html-container {
  font-size: 27px;
  /* color: rgb(100, 100, 100) !important; */
}

.swal2-styled {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 18px !important;
  /* letter-spacing: 1px; */
}

.swal2-confirm {
  background: linear-gradient(
    to bottom,
    rgb(255, 200, 20),
    rgb(225, 155, 10),
    rgb(205, 130, 10)
  ) !important;
  border: 3px solid rgb(205, 130, 10) !important;
}

.swal2-cancel {
  background: linear-gradient(
    to bottom,
    rgb(145, 80, 126),
    rgb(110, 55, 75)
  ) !important;
  border: 3px solid rgb(110, 55, 75) !important;
}

.swal2-deny {
  background: linear-gradient(
    to bottom,
    rgb(75, 185, 75),
    rgb(41, 127, 41)
  ) !important;
  border: 3px solid rgb(41, 127, 41) !important;
}
