#containerCardGrid {
  padding: 0 12%;
}

#containerStartGame {
  height: 65vh;
}

.btnStartGame {
  font-family: "GAMERIA";
  font-size: 25px;
  padding: 9px;
  letter-spacing: 1px;
  border-radius: 8px;
  color: rgb(94, 38, 88) !important;
  text-transform: lowercase;
}

.btnStartGame p {
  border-color: rgb(94, 38, 88) !important;
}
