#divDialogBox {
  position: absolute;
  z-index: 2;
}

.divErrorMessage {
  width: fit-content;
  visibility: visible;
  background-color: salmon;
}

.divSuccessMessage {
  width: fit-content;
  visibility: visible;
  background-color: rgb(110, 195, 95);
}
