* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "GAMERIA";
  src: local("GAMERIA"), url("./fonts/GAMERIA.ttf") format("truetype");
}

@font-face {
  font-family: "Jungle Adventurer";
  src: local("Jungle Adventurer"),
    url("./fonts/JungleAdventurer.ttf") format("truetype");
}
