* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Jungle Adventurer";
  background: radial-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("../flippy-background.jpg");
}

.brand {
  background: linear-gradient(
    to bottom,
    rgb(255, 200, 20),
    rgb(225, 155, 10),
    rgb(205, 130, 10)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
