/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
} */

:root{
    --color-dark: #79155B;
    --color-light: #F3F3F2;
}

#main{
        display: flex;
        justify-content: center;
        align-items: center;
       
}

.board {
    text-align: center;
}

.board .leaderboard{
    margin-bottom: 1em;
    color: #FFBA86;
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #FFBA86;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
   
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
    
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 25%;
    height:12vh;
    border-radius: 50%;
    border: 2px solid #C23373;
}

#profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-dark);
 
}

.txtColor {
  color:#FFBA86;
}
.txtColor2 {
  color: #F6635C;
}



/* ============================================= */
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  